
<h2>Welcome to Decider</h2>

<% if current_user %>
  <p>
    <%= current_user.email %>
  </p>
  <%= link_to "Log-Out", log_out_path, method: :delete %>
<% else %>
  <div class="login-signup">
    <%= link_to "Log-In", log_in_path, class: "button" %>
    <%= link_to "Sign-Up", new_user_path, class: "button" %>
  </div>
<% end %>