body {
	/*background-color: purple;*/
	font-family: 'Lato', sans-serif;"
	margin: 0;
}

#index {
	text-align: center;
}

.page-header {
	background-color: chartreuse;
	font-size: 1.25em;
	padding: 20px 2rem;
}

. {
	padding: 25px 2rem;
}

.search-page input {
	font-size: 1.5rem;
	border: 2px solid red;
}

.results-page input[type=submit] {
	background-color: ;
}

.favorites-page {
	color: aliceblue;
}